@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lemon&family=Roboto+Slab&display=swap');

#content{
    max-width: 1600px;
    margin: 0 auto;
}

nav a{
    text-align: center;
    color: white;
    text-decoration: none;
}

#hero-msg h1, #hero-msg h4{
    text-align: center;
}

.button-box{
    text-align: center;
}

main section{
    text-align: center;
}

#background{
    height: 725px;
    background-color: #DDA15E;
}

body{
    background-color: #FEFAE0;
    font-family: 'Roboto Slab', Helvetica, sans-serif;
    font-size: 22px;
}

header{
    background-color: #606C38;
    
}

nav a:hover{
    background-color: #283618;
    color: white;
}

.book, .join{
    background-color: #BC6C25;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.book:hover, .join:hover{
    background-color: #283618;
    color: white;
}

.msg{
    background-color: #606C38;
    line-height: 1.5em;
}

footer{
    background-color: #606C38;
    color: white;
}

footer a{
    color: white;
    text-decoration: none;
}

footer a:hover{
    color: #283618;
}

footer p{
    font-size: 1.2em;
}

footer p a:hover{
    text-decoration: underline;
}

.home-title{
    color: #283618;
    font-family: 'Lemon', 'Bree Serif', serif, cursive;
    font-size: 2em;

}

h4{
    color: #283618;
}

.msg h2{
    color: white;
    font-family: 'Lemon', 'Bree Serif', serif, cursive;

}

.msg p{
    color: white;
    font-size: .8em;
}

.icon, .logo{
    width: 80px;
}


#hero-img{
    width: 100%;
}